<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:component-scan base-package="com.zp"/>

    <!--<bean id="student" class="com.zp.entity.Student">-->
        <!--<property name="number" value="20141043047"/>-->
    <!--</bean>-->

    <!--
        使用 autowired 属性指定自动装配的方式
        byName:根据 bean 的名字和 setter 风格的属性进行自动装配
        byType:根据 bean 的类型进行自动装配,但若有多个相同类型的则会抛出异常
    -->
   <!--<bean id="person" class="com.zp.entity.Person" autowire="byName">
        <property name="name" value="peng.zhang"/>
        <property name="sex" value="male"/>
        <property name="age" value="21"/>
    </bean>-->

    <!--<bean id="person" class="com.zp.entity.Person" p:name="peng.zhang" p:age="21" p:sex="male">
        <property name="student" ref="student"/>
    </bean>-->

    <!--
        在xml中，引用配置类中的配置
        此处注释，因为前方使用了 context:component-scan，无需手动导入
    -->
<!--    <bean id="studentConfig" class="com.zp.config.StudentConfig"/>-->

    <!--  AOP  -->
    <aop:config>
        <aop:aspect ref="student">
            <aop:pointcut id="study" expression="execution(* com.zp.entity.Person.studying(..)) and within(com.zp.entity.*)"/> <!-- 横切关注点 -->
            <aop:before pointcut-ref="study" method="beforeStudy"/>
            <aop:after pointcut-ref="study" method="afterStudy"/>
        </aop:aspect>
    </aop:config>

    <!-- 对应 @PropertySource("classpath:zh.properties") 声明源 -->
    <!--<context:property-placeholder location="zh.properties"/>-->

</beans>